/*! Navbar component */ 

@import "../../index.scss";

.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin-top: 10px;
}

.Navbar-title {
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
} 

.Navbar-list {
    
    @media screen and (max-width: $start-tablet) {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 100%;
        left: -100%;
        bottom: 0;
        text-align: center;
        background-color: var(--color-black);  
        transition: right 0.3s ease-in-out, left 0.3s ease-in-out;
    }
    
    @media screen and (min-width: $start-tablet) {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            display: block;
            right: 32px;
            bottom: 5px;
            width: 100px;
            height: 5px;
            background-color: var(--color-mainDark);
            border-radius: 10%;
            transition: right 0.4s ease-in-out, width 0.4s ease-in-out;
        }
        
        &--Profil::after {
            right: 444px !important;
            width: 100px !important;
        }
        &--active--Profil::after {
            right: 444px;
        }
        &--Compétences::after {
            right: 276px !important;
            width: 140px !important            
        }
        &--active--Compétences::after {
            right: 276px;
            width: 140px;
        }
        &--Projets::after {
            right: 146px !important;
            width: 100px !important;
        }
        &--active--Projets::after {
            right: 146px;
        }
    }
}

.Navbar-list.Navbar-list--shown {  
    
    @media screen and (max-width: $start-tablet) {
        opacity: 1;
        display: block;
        right: 0;
        left: 0;
        transition: right 0.3s ease-in-out, left 0.3s ease-in-out;
    }
}

.Navbar-burger {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 3px solid var(--color-mainDark);
    border-radius: 20%;
    
    @media screen and (min-width: $start-tablet) {
        display: none;
    }
}

.Navbar-burger--shown {
    
    .Navbar-line {
        position: absolute;
    }
    
    .Navbar-line:first-child {
        top: 8px;
        right: 0;
        transform: rotate(135deg);
        transition: top 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .Navbar-line:nth-child(2) {
        margin-right: 3px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    
    .Navbar-line:last-child {
        bottom: 8px;
        right: 0;
        transform: rotate(-135deg);
        transition: bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
}

.Navbar-content {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16px;
    height: 18px;
}

.Navbar-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--color-mainDark);
}

.Navbar-line:first-child {
    top: 0;
    transition: top 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.Navbar-line:nth-child(2) {
    width: 70%;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.Navbar-line:last-child {
    bottom: 0;
    transition: bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
}